* {
  box-sizing: border-box;
  color: black;
}

$dark: rgb(47,37,116);
$tanzanite: rgb(74, 3, 189);
$purple: rgb(67,18,128);
$midnightblue: rgb(22,16,137);

body {
  padding: 0px;
  // font-family: 
}

// ****************************************   GENERAL   ****************************************

.column {
  border: solid;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: normal;
}

.centre {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.midpoint {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

// ****************************************   HOMEPAGE   ****************************************

.vinco1 {
  color: $tanzanite;
  // color: $dark;
  // color: $purple;
  // color: $midnightblue;
  font-size: 200px;
  font-family: 'Major Mono Display', monospace;
}

.vinco3 {
  color: $tanzanite;
  // color: $dark;
  // color: $purple;
  // color: $midnightblue;
  font-size: 200px;
  font-family: 'Poiret One', cursive;
}

// ****************************************   NAVBAR   ****************************************

.homeLogo {
  color: $tanzanite;
  // color: $dark;
  // color: $purple;
  // color: $midnightblue;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Major Mono Display', monospace;
}

// ****************************************   FUND CARD   ****************************************

.card {
  width: 350px;
  height: 350px;
  padding: 20px;
  margin: 20px;
}

// ****************************************   REGISTER AND LOGIN FORMS   ****************************************

.formTemplate {
  height: auto;
  display: flex;
  justify-content: center;
  
  .userForm{
    display: flex;
    flex-direction: column;
    align-content: center;

    .formHeading {
      text-align: center;
      color: rgb(87, 87, 87);
    }
  
    .formBackground {
      border-radius: 5px;
      margin-top: 10px;
      box-shadow: 1px 1px 10px rgba(66, 19, 155, 0.479);
      padding: 30px;
      width: 36vw;
      height: auto;
      margin-bottom: 30px;
    } 
  }
}
