* {
  box-sizing: border-box;
  color: black;
}

$tanzanite: rgb(74, 3, 189);
$purple: rgb(67,18,128);
$midnightblue: rgb(22,16,137);
$emerald: rgb(24, 143, 0);
$grey: rgb(83, 80, 88);
$pink: rgb(253, 21, 214);

html, body {
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
}

// ****************************************   GENERAL   ****************************************

// .column {
//   border: solid;
// }

.tanzanite {
  color: $tanzanite;
}

.grey {
  color: $grey;
}

.midnightblue {
  color: $midnightblue;
}

.pink {
  color: $pink;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: normal;
}

.centre {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.midpoint {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.vinco {
  color: $tanzanite;
  font-family: 'Major Mono Display', monospace;
}

.vincoGrey {
  color: $grey;
  font-family: 'Major Mono Display', monospace;
}

.vincoBold {
  color: $tanzanite;
  font-family: 'Major Mono Display', monospace;
  font-weight: bold;
}

.vincoButton {
  color: $tanzanite;
  font-family: 'Major Mono Display', monospace;
  background-color: $pink;
}

.borderBottom {
  border-bottom: solid;
  border-width: 1px;;
}

.alignRight {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.marginRight {
  margin-right: 10px;
}

// ****************************************   HOMEPAGE   ****************************************

.homeTitle {
  font-size: 150px;
}

// ****************************************   NAVBAR   ****************************************

.logo {
  color: $tanzanite;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Major Mono Display', monospace;
}

.navItem {
  color: $tanzanite;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Major Mono Display', monospace;
}


// ****************************************   FUND INDEX   ****************************************

.fundContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.searchBar {
 border-color: $pink;
 border-width: 0.4px;
 width: 500px;
}

// ****************************************   FUND CARD   ****************************************

.card {
  padding: 10px;
  margin: 50px;
}

.image {
  height: 150px;
  width: 440px;
  object-fit: cover;
}

.card-title.h4 {
  font-size: 19px;
}

.card-subtitle {
  font-size: 16px;
}

.card-body {
  font-size: 12px;
  list-style: none;
}

.investmentStyle {
  font-size: 14px;
  text-decoration: underline;
}

// ****************************************   MAP   ****************************************
.map {
  height: 100vh;
  width: 100vw;
}

svg {
  stroke: rgb(253, 21, 214);
  stroke-width: 0.4px;

  path {
    fill: #070000;
    outline: none;

    // Colour of selected layer:
    &[aria-current='true'] {
      fill: $tanzanite;
    }
  }
}

// ****************************************   REGISTER AND LOGIN FORMS   ****************************************


.form-container {
  height: 100%;
  width: 100%;
  // transform: scale(0.9);

  .formTemplate {
    height: 80%;
    display: flex;
    justify-content: center;
    
    
    .userForm{
      display: flex;
      flex-direction: column;
      align-content: center;
      font-size: 12px;
  
      .formHeading {
        text-align: center;
        color: $grey;
      }
    
      .formBackground {
        border-radius: 5px;
        margin-top: 10px;
        box-shadow: 1px 1px 10px rgba(66, 19, 155, 0.479);
        padding: 30px;
        width: 36vw;
        height: auto;
        margin-bottom: 30px;
      } 
        input {
          font-size: 12px;
          height: 30px;
          margin-top: 5px;
          margin-bottom: 5px;
        }

    }
  }
}

.login {
  font-size: 17px;
}
